body {
  background: url('/images/businesswoman_on_top.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "proxima-nova",sans-serif;
/*  font-weight: 100;*/
/*  color: white;*/
}

#container {
  background: rgba(1.0, 1.0, 1.0, 0.1);
  min-height: 500px;
  padding: 3em 2em 0 2em;
  text-align: center;
}

#container button {
  background-color: rgba(1.0, 1.0, 1.0, 0.65);
  font-size: 1em;
  margin-top: 1.5em;
  font-weight: 100;
}

#conclusion {
  background: white;
}

.restart {
  margin-top: 3em;
}

.restart a,
.restart a:visited,
.restart a:hover {
  background: rgba(1.0, 1.0, 1.0, 0.2);
  color: black;
  font-weight: 400;
  padding: 1em;
}

.restart a:hover {
  background: rgba(1.0, 1.0, 1.0, 0.5);
  color: white;
}

.row {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

.columns {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: "proxima-nova",sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0;
/*  color: white;*/
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 3em;
  line-height: 1.1em;
}

p {
  font-weight: 100;
  line-height: 1.3em;
  padding-top: 1em;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  line-height: 1.3em;
}

.hidden {
  display: none;
}
